<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'application.label', default: 'Application')}" />
    <title><g:message code="default.list.label" args="[entityName]" /></title>
</head>
<body>
<h1><g:message code=""  args="${[params.appName]}" /></h1>
</body>
</html>