<%@ page import="com.youniversity.apps.untitled1.tes.Todo" %>



<div class="fieldcontain ${hasErrors(bean: todo, field: 'text', 'error')} ">
	<label for="text">
		<g:message code="todo.text.label" default="Text" />
		
	</label>
	<g:textField name="text" value="${todo?.text}"/>
</div>

