
<%@ page import="com.youniversity.core.user.GroupRole" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'groupRole.label', default: 'GroupRole')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-groupRole" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-groupRole" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<th><g:message code="groupRole.role.label" default="Role" /></th>
					
						<th><g:message code="groupRole.group.label" default="Group" /></th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${groupRoleInstanceList}" status="i" var="groupRoleInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${groupRoleInstance.id}">${fieldValue(bean: groupRoleInstance, field: "role.authority")}</g:link></td>
					
						<td>${fieldValue(bean: groupRoleInstance, field: "group.name")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${groupRoleInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
